<div class="bot-info-dialog">
  <h1 mat-dialog-title>Bot details</h1>
  <mat-dialog-content>
    <div>Last execution: {{botDetails.lastExecution | date: 'dd.MM.yyyy - hh:mm:ss'}}</div>
    <div>Last execution error: {{botDetails.lastExecutionError}}</div>
    <div>Execution count: {{botDetails.executionCount}}</div>
    <div>Execution properties: {{getReadableProperties(botDetails)}}</div>
    <div *ngIf="botDetails.lastExecutionError">Error message: {{botDetails.errorMsg}}</div>
  </mat-dialog-content>
</div>
