<h2 mat-dialog-title>Warning</h2>
<mat-dialog-content class="mat-typography">
<p>{{data.warningMessage}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
</mat-dialog-actions>
