<div class="tweet-data mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> createdAt </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.createdAt}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="retweetCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> retweetCount </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.retweetCount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="favoriteCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> favoriteCount </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.favoriteCount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="retweetFavoriteCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> retweetFavoriteCount </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.retweetFavoriteCount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header> message </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.message}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [length]="length"
                 (page)="onPaginate($event)"></mat-paginator>
</div>

