.tweet-data {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
