<div class="bot-setup-dialog">
  <h1 mat-dialog-title>Setup twitter bot</h1>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Basics">
        <mat-form-field class="bot-setup-dialog__bot-key-input">
          <mat-label>Bot Key</mat-label>
          <input disabled="disabled" matInput [(ngModel)]="twitterBotConfig.botKey"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Maximum number of tweets</mat-label>
          <input type="number" matInput [(ngModel)]="twitterBotConfig.maxCount"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Search type</mat-label>
          <mat-select class="bot-setup-dialog__input" [(ngModel)]="twitterBotConfig.searchType">
            <mat-option *ngFor="let searchType of searchTypes" [value]="searchType">
              {{searchType}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="twitterBotConfig.searchType === 'hashtags'">
          <mat-label>Hashtag</mat-label>
          <input matInput [(ngModel)]="twitterBotConfig.hashtags"/>
        </mat-form-field>

        <mat-form-field *ngIf="twitterBotConfig.searchType === 'user timeline'">
          <mat-label>Screen name</mat-label>
          <input matInput [(ngModel)]="twitterBotConfig.screenName"/>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Execution">
        <mat-radio-group class="twitter-setup-dialog__radio-group-execution" [(ngModel)]="twitterBotConfig.executionType">
          <mat-radio-button value="manual">Manual</mat-radio-button>
          <mat-radio-button value="schedule">Schedule</mat-radio-button>
        </mat-radio-group>
        <form *ngIf="twitterBotConfig.executionType=='schedule'" [formGroup]="cronFormGroup">
          <cron-editor [cron]="twitterBotConfig.cron" [formControl]="cronFormControl" [options]="cronOptions"></cron-editor>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <div class="twitter-setup-dialog__dialog-actions" mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onSaveClick()" [mat-dialog-close]="twitterBotConfig" cdkFocusInitial>
      <span *ngIf="!twitterBotConfig.editMode">Create</span>
      <span *ngIf="twitterBotConfig.editMode">Save changes</span></button>
  </div>
</div>
