
.bot-setup-dialog__bot-key-input {
  margin-top: 2%;
}

.twitter-setup-dialog__dialog-actions {
  bottom: 0;
}

.twitter-setup-dialog__radio-group-execution{
  padding-top: 2%;
  padding-bottom: 3%;
}
