.bot-configuration {
  margin: 0 auto;
  width: 80%;

  .bot-configuration__content {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .bot-configuration__table {
    }

    .bot-configuration__menu {
    }

    .bot-configuration__refresh-button{
      height: 35px;
      border: solid 1px;
      float: right;
    }

    .bot-configuration__menu-dropdown-button {
      width: 120px;
      height: 35px;
      border: solid 1px;
      float: right;
    }

    .bot-configuration__bot-inactive {
      color: red;
    }

    .bot-configuration__bot-active {
      color: green;
    }

    .execution-details-info-icon-blue {
      color: #0191F7;
    }

    .execution-details-info-icon-red {
      color: red;
    }


    table {
      width: 100%;
    }

    mat-icon {
      cursor: pointer
    }

    tr.mat-row:hover {
      background-color: lightgrey;
    }
  }
}
