<div class="bot-configuration" *ngIf="botDetails">
  <div class="bot-configuration__content">
    <div class="bot-configuration__menu">
      <button class="bot-configuration__refresh-button" mat-button color="accent" (click)="updateBotConfigView()">
        Refresh<mat-icon>refresh</mat-icon>
      </button>
      <button class="bot-configuration__menu-dropdown-button" mat-button color="accent" [matMenuTriggerFor]="actionsMenu">
        Create Bot <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #actionsMenu="matMenu">
        <button mat-menu-item (click)="openSetupDialog('twitter')">Twitter</button>
        <button mat-menu-item (click)="openSetupDialog('instagram')">Instagram</button>
        <button mat-menu-item (click)="openSetupDialog('google_sentiment')">Google Sentiment</button>
      </mat-menu>
    </div>

    <div class="bot-configuration__table">
      <table mat-table [dataSource]="botDetails" class="mat-elevation-z8">

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- active Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="bot-configuration__bot-active" *ngIf="element.active">play_circle</mat-icon>
            <mat-icon class="bot-configuration__bot-inactive" *ngIf="!element.active">stop_circle</mat-icon>
          </td>
        </ng-container>

        <!-- executionDetails Column -->
        <ng-container matColumnDef="executionDetails">
          <th mat-header-cell *matHeaderCellDef> Execution details </th>
          <td mat-cell *matCellDef="let botConfig">
            <mat-icon (click)="openBotDetailsDialog(botConfig.id)" [ngClass]="botConfig.lastExecutionError? 'execution-details-info-icon-red' : 'execution-details-info-icon-blue'">info</mat-icon>
          </td>
        </ng-container>

        <!-- botKey Column -->
        <ng-container matColumnDef="botKey">
          <th mat-header-cell *matHeaderCellDef> Bot key </th>
          <td mat-cell *matCellDef="let element"> {{element.botKey}} </td>
        </ng-container>

        <!-- scheduleType Column -->
        <ng-container matColumnDef="schedule">
          <th mat-header-cell *matHeaderCellDef> Schedule </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.manualExecution">manual</span>
            <span *ngIf="!element.manualExecution">{{element.cron}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell  *matHeaderCellDef > Actions </th>
          <mat-cell *matCellDef="let botConfig" >
            <a mat-button [matMenuTriggerFor]="botSettingsMenu">
              <mat-icon>settings</mat-icon>
            </a>
            <mat-menu #botSettingsMenu="matMenu">
              <button mat-menu-item (click)="activate(botConfig.id)">
                <mat-icon>play_circle</mat-icon>Activate
              </button>
              <button mat-menu-item (click)="deactivate(botConfig.id)">
                <mat-icon>stop_circle</mat-icon>Deactivate
              </button>
              <button mat-menu-item (click)="archiveBotConfig(botConfig.id)">
                <mat-icon>save</mat-icon>Archive
              </button>
              <button mat-menu-item (click)="deleteBotConfig(botConfig.id)">
                <mat-icon>delete</mat-icon>Delete
              </button>
              <button mat-menu-item [routerLink]="['/twitter-bot-statistics/', botConfig.id]">
                <mat-icon>leaderboard</mat-icon>Open statistics
              </button>
              <button mat-menu-item (click)="downloadData(botConfig)">
                <mat-icon>cloud_download</mat-icon>Download data
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>
