.twitter-bot-statistics{
  display: flex;
  justify-content: center;

  .twitter-bot-statistics__collected-data {
    margin-top: 5%;
    width: 60%;
  }

  .twitter-bot-statistics__download-button{
    border: black;
  }
}
