<div class="twitter-bot-statistics">
  <div class="twitter-bot-statistics__collected-data" *ngIf="botStatisticsObs | async">

    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>

