.bot-setup-dialog{

  mat-form-field {
    width: 100%;
  }

  .bot-setup-dialog__input-time{
    width: 40px;
  }

  .bot-setup-dialog__search-label > div{
    margin-bottom: 2%;
  }

  .bot-setup-dialog__search-label > mat-radio-button{
    margin-right: 5%;
  }

  .mat-radio-group {
    display: flex;
    flex-flow: column nowrap;
  }
}
