<mat-sidenav-container class="left-sidenav">
  <mat-sidenav  #sidenav position="start">
    <mat-nav-list>
      <a mat-list-item routerLink="/jobs" routerLinkActive="left-sidenav__list-item-active"> Bots </a>
<!--      <a mat-list-item routerLink="/twitter-data" routerLinkActive="left-sidenav__list-item-active"> Browse twitter data </a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
