<div class="input-unit__login">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <h2>Log In</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="username" required [(ngModel)]="credentials.username">
          <mat-error>
            Please provide a valid username
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required [(ngModel)]="credentials.password">
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="loginInvalid === true">
          Invalid credentials
        </mat-error>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
