<div class="bot-setup-dialog">
  <h1 mat-dialog-title>Setup instagram bot</h1>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Basics">
        <mat-form-field class="bot-setup-dialog__bot-key-input">
          <mat-label>Bot Key</mat-label>
          <input disabled="disabled" matInput [(ngModel)]="instagramBotConfig.botKey"/>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Execution">
        <mat-radio-group class="instagram-setup-dialog__radio-group-execution" [(ngModel)]="instagramBotConfig.executionType">
          <mat-radio-button value="manual">Manual</mat-radio-button>
          <mat-radio-button value="schedule">Schedule</mat-radio-button>
        </mat-radio-group>
        <form *ngIf="instagramBotConfig.executionType=='schedule'" [formGroup]="cronFormGroup">
          <cron-editor [cron]="instagramBotConfig.cron" [formControl]="cronFormControl" [options]="cronOptions"></cron-editor>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <div class="instagram-setup-dialog__dialog-actions" mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onSaveClick()" [mat-dialog-close]="instagramBotConfig" cdkFocusInitial>
      <span *ngIf="!instagramBotConfig.editMode">Create</span>
      <span *ngIf="instagramBotConfig.editMode">Save changes</span></button>
  </div>
</div>
